<section class="section-about wrapper">
  <h3>About Marble Eyes</h3>
  <div class="face-lockup">
    <span class="line-one"></span>
    <img src="/assets/img/peter.jpg" alt="Marble Eyes Portrait">
    <span class="line-two"></span>
  </div>

  <p><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nihil odio nam fugiat rerum tenetur architecto aspernatur! Assumenda aliquid sed explicabo ex soluta ratione nemo cum hic incidunt, asperiores laboriosam!</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore molestiae nulla aliquid consectetur atque, eum excepturi numquam dolores ratione qui, facere voluptas rerum odio, quod fugiat nostrum enim, commodi iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab in quisquam voluptatum facere dolorum rem temporibus illum, soluta commodi repudiandae praesentium optio harum! Dolores eius reprehenderit neque accusantium ex a.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates aliquid reprehenderit consectetur vitae modi, dolores nihil odit possimus quidem ratione voluptatibus eveniet quam! Nihil nesciunt vitae commodi illum molestias debitis.</p>
</section>
