<section class="section-collages">
  <div class="collages-wrap">
    <h3>Collages</h3>
    <div class="collages-gallery">
      <img class="collage" src="/assets/img/fb-collages/1.jpg" alt="Collage 1">
      <img class="collage" src="/assets/img/fb-collages/2.jpg" alt="Collage 2">
      <img class="collage" src="/assets/img/fb-collages/3.jpg" alt="Collage 3">
      <img class="collage" src="/assets/img/fb-collages/4.jpg" alt="Collage 4">
      <img class="collage" src="/assets/img/fb-collages/5.jpg" alt="Collage 5">
      <img class="collage" src="/assets/img/fb-collages/6.jpg" alt="Collage 6">
      <img class="collage" src="/assets/img/fb-collages/7.jpg" alt="Collage 7">
      <img class="collage" src="/assets/img/fb-collages/8.jpg" alt="Collage 8">
    </div>
  </div>

</section>
