<section class="section-contact">
  <div class="wrapper contact-wrap">
    <h3>Contact</h3>
    <div class="social-icons">
      <a href=""><span class="icon icon-facebook"></span></a>
      <a href=""><span class="icon icon-instagram"></span></a>
      <a href=""><span class="icon icon-twitter"></span></a>
      <a href=""><span class="icon icon-soundcloud"></span></a>
    </div>
    <p class="contact-note">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quae voluptatem. Libero provident, iusto dolores veniam! Nemo optio quod impedit sequi nesciunt distinctio quia, mollitia eaque, dolorum culpa expedita fugiat.</p>
    <a class="email" href="mailto:marbleeyes@email.com">marbleeyes@email.com</a>
  </div>

</section>
